Дз 6 номер 1

In [ ]:
def update_dictionary(data, key, val):
    if key in data:
        data[key].append(val)
    else:
        if (key * 2) in data:
            data[key * 2].append(val)
        else:
            data[key * 2] = [val]

Дз 6 Номер 2

In [ ]:
def filter_squares(nums):
    result = []

    for number in nums:
        if number < 0:
            continue
        is_square = False
        i = 0
        while i <= number:
            if i * i == number:
                is_square = True
                break
            if i * i > number:
                break
            i += 1

        if is_square:
            result.append(number)

    return result

Дз 5 Номер 2

In [ ]:
input_string = input("")
words = input_string.split()
groups = {}


for word in words:
    length = len(word)
    if length in groups:
        groups[length].append(word)
    else:
        groups[length] = [word]

print(groups)

Дз 5 Номер 3

In [ ]:
prices = {'apple': 100, 'banana': 80, 'orange': 120}
n = int(input())
for _ in range(n):
    command = input().split()
    if command[0] == 'ADD':
        if command[1] not in prices:
            prices[command[1]] = int(command[2])
            print("Команда успешно выполнена")
        else:
            print("Данную команду выполнить невозможно")
    elif command[0] == 'DELETE':
        if command[1] in prices:
            del prices[command[1]]
            print("Команда успешно выполнена")
        else:
            print("Данную команду выполнить невозможно")
    elif command[0] == 'UPDATE':
        if command[1] in prices:
            prices[command[1]] = int(command[2])
            print("Команда успешно выполнена")
        else:
            print("Данную команду выполнить невозможно")
print(prices)

2
3
delete pineapple
{'apple': 100, 'banana': 80, 'orange': 120}