# Урок 3

## Списки, их методы и примеры

In [1]:
lst = []
lst = [1,2,3]
lst = [1,"uols", True]
lst

[1, 'uols', True]

In [2]:
lst.append(23)
lst.extend(["1743", "56", "56"])
lst += [111,12]
lst

[1, 'uols', True, 23, '1743', '56', '56', 111, 12]

In [3]:
lst.insert(3, 18)
print(lst)
lst[2] = 89
print(lst)

[1, 'uols', True, 18, 23, '1743', '56', '56', 111, 12]
[1, 'uols', 89, 18, 23, '1743', '56', '56', 111, 12]

In [4]:
lst.pop()
print(lst)
lst.pop(4)
print(lst)
lst.remove("56")
print(lst)
del lst[2]
lst

[1, 'uols', 89, 18, 23, '1743', '56', '56', 111]
[1, 'uols', 89, 18, '1743', '56', '56', 111]
[1, 'uols', 89, 18, '1743', '56', 111]

[1, 'uols', 18, '1743', '56', 111]

In [5]:
print(lst[1])
print(lst[-1])
print(lst[2:4])
print(lst[::2])
print(lst[-4:-2])

uols
111
[18, '1743']
[1, 18, '56']
[18, '1743']

In [6]:
a = [1,2,13,2,56,34,78,22,5]
sorted(a)
print(a)
print(sorted(a))
a.sort()
print(a)
a.reverse()
print(a)
a.index(2)

[1, 2, 13, 2, 56, 34, 78, 22, 5]
[1, 2, 2, 5, 13, 22, 34, 56, 78]
[1, 2, 2, 5, 13, 22, 34, 56, 78]
[78, 56, 34, 22, 13, 5, 2, 2, 1]

6

In [7]:
clock = "15:50:25"
ss = clock.split(":")
print(clock)
ss

15:50:25

['15', '50', '25']

In [8]:
text = "My name is Zmark"
yy = text.split()
print(yy)
qw = '-'.join(yy)
print(qw)

yy.append(67)
print("Список после добавления числа 67:", yy)

yy.append(['another','list','is','there'])
print("Список после добавления вложенного списка:", yy)
print("Элемент [5]:", yy[5])
print("Срез внутри вложенного списка [5][1][2:]:", yy[5][1][2:])

count_example = [5,5,12,45,54,2,12,12,45,54,54,54,54,54]
print("Сколько раз 54 встречается в списке:", count_example.count(25))

['My', 'name', 'is', 'Zmark']
My-name-is-Zmark
Список после добавления числа 67: ['My', 'name', 'is', 'Zmark', 67]
Список после добавления вложенного списка: ['My', 'name', 'is', 'Zmark', 67, ['another', 'list', 'is', 'there']]
Элемент [5]: ['another', 'list', 'is', 'there']
Срез внутри вложенного списка [5][1][2:]: st
Сколько раз 54 встречается в списке: 0

In [9]:
llist = []
a = "help"

llist.append(a)
llist

['help']

## Кортежи

In [ ]:
t = ()
t = (11, 12)
t = (1, "12", False, 11.2, [1,2,5])
print(t)

In [ ]:
print(t[1])
print(t[-1])
print(t[2:4])
print(t[::2])
print(t[-4:-2])

In [ ]:
t

In [ ]:
list_t = list(t)
print(list_t)
t = tuple(list_t)
print(t)

In [ ]:
#t[0] = 5
#t.append(15)

## Множества

In [15]:
s = {1,2,3}
print(s)
s = {}
print(s)
s = set([2,2,2,1,1,1,3,7,7,8,9,93,1,1,2,2,5,5])
s.add(1)
s.add(6)
print(s)
s.update([7,8,9])
print(s)
s.remove(1) # c ошибкой
s.discard(2) # без ошибкой
print(s)

{1, 2, 3}
{}
{1, 2, 3, 5, 6, 7, 8, 9, 93}
{1, 2, 3, 5, 6, 7, 8, 9, 93}
{3, 5, 6, 7, 8, 9, 93}

In [16]:
llist = [11.0,22,16,"dfsfsd", True, 11, 11.1, 16, 22, 16]
print(llist)
s_list = set(llist)
print(s_list)
llist = list(s_list)
print(llist)

[11.0, 22, 16, 'dfsfsd', True, 11, 11.1, 16, 22, 16]
{True, 11.0, 11.1, 16, 'dfsfsd', 22}
[True, 11.0, 11.1, 16, 'dfsfsd', 22]

## Циклы while/for

In [17]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [18]:
for i in range(2, 5):
    print(i, end=' ')

2 3 4

In [19]:
a = [1,4,9,16,25]
for i in range(len(a)):
    print(a[i], end=' ')

1 4 9 16 25

In [20]:
N = int(input("N = "))
for k in range(1, N+1):
    print(k**3)

N =  8

1
8
27
64
125
216
343
512

In [21]:
for i in range(10):
    if i % 2 != 0:
        continue
    print(i)
    print(56)
    print(25)
    print(" ")

0
56
25

2
56
25

4
56
25

6
56
25

8
56
25

In [22]:
for i in range(1, 20):
    if i % 9 == 0:
        break
    print(i)

1
2
3
4
5
6
7
8

In [26]:
text = "abcdef  siudfaoisjdoi wqojdjsdoas sfoakfsd"
llist = [12,14,16,77,"22"]

for elem in text:
    print(elem)

for elem in llist:
    print(elem)

a
b
c
d
e
f


s
i
u
d
f
a
o
i
s
j
d
o
i

w
q
o
j
d
j
s
d
o
a
s

s
f
o
a
k
f
s
d
12
14
16
77
22

In [27]:
# Счётчик от 10 до 1
i = 10
while i > 0:
    print(i)
    i -= 1
print("🚀 Поехали!")

10
9
8
7
6
5
4
3
2
1
🚀 Поехали!

## Итоговая мини-задача

Аналитика оценок»
Дан список целых оценок grades = [4,5,3,5,2,4,5,3]

Вывести процент отличных (5) и неудовл. (<3).

Удалить повторяющиеся оценки, вывести отсортированный кортеж уникальных.

Проверить, есть ли оценки, отсутствующие в диапазоне 2‥5.

In [28]:
grades = [4,5,3,5,2,1,4,5,3]
grades.sort()
print(grades)
count_example = [4,5,3,5,2,1,4,5,3]
coll = (len(count_example))
print(coll)
clas = count_example.count(5)
nice = clas/coll * 100
print(nice)
nonice = count_example.count(2)
dva = nonice/coll * 100
print(dva)

[1, 2, 3, 3, 4, 4, 5, 5, 5]
9
33.33333333333333
11.11111111111111